html {
    scroll-behavior: smooth;
}


/* BODY */

.goTop {
    position: fixed;
    z-index: 999;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: #1d1d1d;
    background-color: #cacaca;
    outline: none;
    display: none;

    font-size: 20px;
}

body,
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    letter-spacing: .5px;
}

/* HEADER */


header {
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}


/* NAV */


.nav {
    font-size: 24px;
    display: flex;
    padding: 0 6%;
    float: right;
}

.nav_link {
    display: inline;
    vertical-align: top;
    margin: 0 70px;
    color: #e4e4e4;
    text-decoration: none;
    transition: .2s ease-in-out;
}

.nav_link:hover {
    color: #ffc885;
    text-decoration: none;

}

.nav_link::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    transition: opacity .2s linear;
    background: #ffc885;
    opacity: 0;
}

.nav_link:hover::after {
    opacity: 1;

}


/* INTRO */


.intro {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;

    background: url("../img/header_background.jpeg") center no-repeat;
    background-size: cover;
}

.title {
    color: #e4e4e4;
    font-size: 120px;
    margin: 10% 0 0 6%;
    width: auto;
    height: auto;
}

.subtitle {
    margin-left: 6%;
    color: #e4e4e4;
    font-size: 2.2em;
}

.button {
    display: inline-block;
    padding: 8px 30px;
    margin: auto;

    border: 3px solid #e4e4e4;

    font-size: 30px;
    color: #e4e4e4;
    text-transform: uppercase;
    text-decoration: none;

    transition: background .2s linear, color .2s linear;
}

.button:hover {
    border: 3px solid #ffc885;
    background: #ffc885;
    text-decoration: none;
    color: #242424;
    transition: background .2s linear, color .2s linear;
}


/* SECTION 2   TOOLS */


.section_tools {
    display: block;
    height: 100vh;
    width: 100%;
    background: #e4e4e4;
    color: #1d1d1d;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.tools {
    padding: 3% 15%;
    font-size: 20px;
    text-align: justify;
    color: #1d1d1d;
}

.tools_header {
    margin: 0 0 5% 0;
    font-size: 45px;
    text-align: center;
}

hr {
    margin: 2% 0;
}

.tools_about_browser,
.tools_about_ide,
.tools_about_layout {
    display: flex;
    align-items: center;
    height: 20vh;
    width: 75%;
    float: left;
    color: #242424;
    margin: 12px 0;
}

.tools_about_ide {
    float: right;
}

.img_chrome,
.img_brackets,
.img_photoshop {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20vh;
    width: auto;
}


/* INFO */


.section_info {
    display: block;
    height: 100vh;
    width: 100%;
    background: #e4e4e4;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.info {
    padding: 3% 6%;
    font-size: 20px;
    text-align: center;
    color: #242424;
}

.info_header {
    margin: 0 0 5% 0;
    font-size: 45px;
    text-align: center;
}

.info_html,
.info_css,
.info_js {
    display: inline-block;
    height: 30vh;
    width: 28%;
    color: #242424;
    margin: 0 2%;
}

.text_html,
.text_css,
.text_js {
    margin: 30px 0 0 0;
}

.img_html,
.img_css,
.img_js {
    height: 30vh;
}


/* FOOTER */


footer {
    height: 7vh;
    background-color: #242424;
    color: #e4e4e4;
}

.footer {
    padding: 15px 0 0 15px;
}